/* 
.container, .content {
width: 100%;
height: 100%;
} */
.row{
    width: 100%;   
    border: 2px solid;
    margin: 2px;
}
.column{
    display: inline-block;
    width: 45%;
    height: 0%;
  
}
.column-0{
    display: inline-block;
    width: 50vw;
    vertical-align: top;
    
  
}
.img-1{
    width: 45vw;
    height: 45vh;
    float: right;
} 
.img-2{
    width: 45vw;
    height: 45vh;   
} 
.column-1{
    display: inline-block;
    width: 45%;
  
}
h1{
    text-align: center;
  position: absolute;
  bottom: 150px;
  left: 800px;
}